*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-image:url(img/2.jpg);
    background-size:cover;
}

section{
    background-image: url(img/1.jpg);
    background-size: cover;
    width: 60rem;
    height: 36rem;
    border-radius: 1rem;
    margin: 15rem auto;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

h1{
    color: azure;
    margin-bottom: 5rem;
    font-size: 3rem;
}

input{
    margin: 1rem;
    width: 30rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 .5rem;
    background-color: transparent;
    border-style: none none solid hidden;
    border-color: black;
}

button{
    background-image: linear-gradient(-45deg, #795661, #00BCD4, #353233);
    border-radius: 1.5rem 0 1.5rem 0;
    width: 17rem;
    font-size: 1.7rem;
    font-family:serif;
    padding: .4rem 4rem;
    border: .2rem solid black;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: azure;
    transition: .7s ease;
}
button:hover{
    transform: scale(1.1);
    border-radius: 0px 15px;
    
}
